:root {
  --primary: rgba(234, 127, 27, 1);
  --second-primary-color: rgba(69, 40, 13, 1);
  --body-color: rgba(80, 80, 80, 1);
  --text-color: rgba(133, 133, 133, 1);
  --line-color: rgba(156, 156, 156, 1);
  --disabled-color: rgba(223, 223, 223, 1);
  --background-color: rgba(255, 255, 255, 1);
  --primary-hover: rgba(241, 168, 100, 1);
  --second-primary-hover: rgba(132, 84, 40, 1);
  --web-cn-heading-cn-font-family: "NotoSans-ExtraBold", Helvetica;
  --web-cn-heading-cn-font-weight: 800;
  --web-cn-heading-cn-font-size: 100px;
  --web-cn-heading-cn-letter-spacing: 30px;
  --web-cn-heading-cn-line-height: 150px;
  --web-cn-heading-cn-font-style: normal;
  --web-cn-heading2-cn-font-family: "NotoSans-ExtraBold", Helvetica;
  --web-cn-heading2-cn-font-weight: 800;
  --web-cn-heading2-cn-font-size: 80px;
  --web-cn-heading2-cn-letter-spacing: 22.4px;
  --web-cn-heading2-cn-line-height: 100px;
  --web-cn-heading2-cn-font-style: normal;
  --web-cn-heading3-cn-font-family: "NotoSans-ExtraBold", Helvetica;
  --web-cn-heading3-cn-font-weight: 800;
  --web-cn-heading3-cn-font-size: 50px;
  --web-cn-heading3-cn-letter-spacing: 13px;
  --web-cn-heading3-cn-line-height: 60px;
  --web-cn-heading3-cn-font-style: normal;
  --web-cn-heading4-regular-cn-font-family: "NotoSans-Regular", Helvetica;
  --web-cn-heading4-regular-cn-font-weight: 400;
  --web-cn-heading4-regular-cn-font-size: 30px;
  --web-cn-heading4-regular-cn-letter-spacing: 7.2px;
  --web-cn-heading4-regular-cn-line-height: 50px;
  --web-cn-heading4-regular-cn-font-style: normal;
  --web-cn-heading4-bold-cn-font-family: "NotoSans-Bold", Helvetica;
  --web-cn-heading4-bold-cn-font-weight: 700;
  --web-cn-heading4-bold-cn-font-size: 30px;
  --web-cn-heading4-bold-cn-letter-spacing: 7.2px;
  --web-cn-heading4-bold-cn-line-height: 50px;
  --web-cn-heading4-bold-cn-font-style: normal;
  --web-cn-body-bold-cn-font-family: "NotoSans-Bold", Helvetica;
  --web-cn-body-bold-cn-font-weight: 700;
  --web-cn-body-bold-cn-font-size: 18px;
  --web-cn-body-bold-cn-letter-spacing: 4.32px;
  --web-cn-body-bold-cn-line-height: 30px;
  --web-cn-body-bold-cn-font-style: normal;
  --web-cn-body-regular-cn-font-family: "NotoSans-Regular", Helvetica;
  --web-cn-body-regular-cn-font-weight: 400;
  --web-cn-body-regular-cn-font-size: 18px;
  --web-cn-body-regular-cn-letter-spacing: 4.32px;
  --web-cn-body-regular-cn-line-height: 30px;
  --web-cn-body-regular-cn-font-style: normal;
  --web-cn-text-bold-cn-font-family: "NotoSans-Bold", Helvetica;
  --web-cn-text-bold-cn-font-weight: 700;
  --web-cn-text-bold-cn-font-size: 16px;
  --web-cn-text-bold-cn-letter-spacing: 3.84px;
  --web-cn-text-bold-cn-line-height: 30px;
  --web-cn-text-bold-cn-font-style: normal;
  --web-cn-text-regular-cn-font-family: "NotoSans-Regular", Helvetica;
  --web-cn-text-regular-cn-font-weight: 400;
  --web-cn-text-regular-cn-font-size: 16px;
  --web-cn-text-regular-cn-letter-spacing: 3.84px;
  --web-cn-text-regular-cn-line-height: 30px;
  --web-cn-text-regular-cn-font-style: normal;
  --web-cn-text2-bold-cn-font-family: "NotoSans-Bold", Helvetica;
  --web-cn-text2-bold-cn-font-weight: 700;
  --web-cn-text2-bold-cn-font-size: 14px;
  --web-cn-text2-bold-cn-letter-spacing: 2.52px;
  --web-cn-text2-bold-cn-line-height: 30px;
  --web-cn-text2-bold-cn-font-style: normal;
  --web-cn-text2-regular-cn-font-family: "NotoSans-Regular", Helvetica;
  --web-cn-text2-regular-cn-font-weight: 400;
  --web-cn-text2-regular-cn-font-size: 14px;
  --web-cn-text2-regular-cn-letter-spacing: 2.52px;
  --web-cn-text2-regular-cn-line-height: 30px;
  --web-cn-text2-regular-cn-font-style: normal;
  --web-cn-small-text-bold-cn-font-family: "NotoSans-Bold", Helvetica;
  --web-cn-small-text-bold-cn-font-weight: 700;
  --web-cn-small-text-bold-cn-font-size: 12px;
  --web-cn-small-text-bold-cn-letter-spacing: 2.16px;
  --web-cn-small-text-bold-cn-line-height: 30px;
  --web-cn-small-text-bold-cn-font-style: normal;
  --web-cn-small-text-regular-cn-font-family: "NotoSans-Regular", Helvetica;
  --web-cn-small-text-regular-cn-font-weight: 400;
  --web-cn-small-text-regular-cn-font-size: 12px;
  --web-cn-small-text-regular-cn-letter-spacing: 2.16px;
  --web-cn-small-text-regular-cn-line-height: 30px;
  --web-cn-small-text-regular-cn-font-style: normal;
  --web-en-heading-en-font-family: "Jost-ExtraBold", Helvetica;
  --web-en-heading-en-font-weight: 800;
  --web-en-heading-en-font-size: 100px;
  --web-en-heading-en-letter-spacing: 10px;
  --web-en-heading-en-line-height: 100px;
  --web-en-heading-en-font-style: normal;
  --web-en-heading2-en-font-family: "Jost-ExtraBold", Helvetica;
  --web-en-heading2-en-font-weight: 800;
  --web-en-heading2-en-font-size: 80px;
  --web-en-heading2-en-letter-spacing: 6.4px;
  --web-en-heading2-en-line-height: 80px;
  --web-en-heading2-en-font-style: normal;
  --web-en-heading3-en-font-family: "Jost-ExtraBold", Helvetica;
  --web-en-heading3-en-font-weight: 800;
  --web-en-heading3-en-font-size: 50px;
  --web-en-heading3-en-letter-spacing: 4px;
  --web-en-heading3-en-line-height: 60px;
  --web-en-heading3-en-font-style: normal;
  --web-en-heading4-bold-en-font-family: "Jost-Bold", Helvetica;
  --web-en-heading4-bold-en-font-weight: 700;
  --web-en-heading4-bold-en-font-size: 30px;
  --web-en-heading4-bold-en-letter-spacing: 1.8px;
  --web-en-heading4-bold-en-line-height: 50px;
  --web-en-heading4-bold-en-font-style: normal;
  --web-en-heading4-regular-en-font-family: "Jost-Regular", Helvetica;
  --web-en-heading4-regular-en-font-weight: 400;
  --web-en-heading4-regular-en-font-size: 30px;
  --web-en-heading4-regular-en-letter-spacing: 1.8px;
  --web-en-heading4-regular-en-line-height: 50px;
  --web-en-heading4-regular-en-font-style: normal;
  --web-en-body-bold-en-font-family: "Jost-Bold", Helvetica;
  --web-en-body-bold-en-font-weight: 700;
  --web-en-body-bold-en-font-size: 18px;
  --web-en-body-bold-en-letter-spacing: 1.08px;
  --web-en-body-bold-en-line-height: 30px;
  --web-en-body-bold-en-font-style: normal;
  --web-en-body-regular-en-font-family: "Jost-Regular", Helvetica;
  --web-en-body-regular-en-font-weight: 400;
  --web-en-body-regular-en-font-size: 18px;
  --web-en-body-regular-en-letter-spacing: 1.08px;
  --web-en-body-regular-en-line-height: 30px;
  --web-en-body-regular-en-font-style: normal;
  --web-en-text-bold-en-font-family: "Jost-Bold", Helvetica;
  --web-en-text-bold-en-font-weight: 700;
  --web-en-text-bold-en-font-size: 16px;
  --web-en-text-bold-en-letter-spacing: 0.96px;
  --web-en-text-bold-en-line-height: 30px;
  --web-en-text-bold-en-font-style: normal;
  --web-en-text-regular-en-font-family: "Jost-Regular", Helvetica;
  --web-en-text-regular-en-font-weight: 400;
  --web-en-text-regular-en-font-size: 16px;
  --web-en-text-regular-en-letter-spacing: 0.96px;
  --web-en-text-regular-en-line-height: 30px;
  --web-en-text-regular-en-font-style: normal;
  --web-en-text2-bold-en-font-family: "Jost-Bold", Helvetica;
  --web-en-text2-bold-en-font-weight: 700;
  --web-en-text2-bold-en-font-size: 14px;
  --web-en-text2-bold-en-letter-spacing: 0.84px;
  --web-en-text2-bold-en-line-height: 30px;
  --web-en-text2-bold-en-font-style: normal;
  --web-en-text2-regular-en-font-family: "Jost-Regular", Helvetica;
  --web-en-text2-regular-en-font-weight: 400;
  --web-en-text2-regular-en-font-size: 14px;
  --web-en-text2-regular-en-letter-spacing: 0.84px;
  --web-en-text2-regular-en-line-height: 30px;
  --web-en-text2-regular-en-font-style: normal;
  --web-en-small-text-bold-en-font-family: "Jost-Bold", Helvetica;
  --web-en-small-text-bold-en-font-weight: 700;
  --web-en-small-text-bold-en-font-size: 12px;
  --web-en-small-text-bold-en-letter-spacing: 0.72px;
  --web-en-small-text-bold-en-line-height: 30px;
  --web-en-small-text-bold-en-font-style: normal;
  --web-en-small-text-regular-en-font-family: "Jost-Regular", Helvetica;
  --web-en-small-text-regular-en-font-weight: 400;
  --web-en-small-text-regular-en-font-size: 12px;
  --web-en-small-text-regular-en-letter-spacing: 0.72px;
  --web-en-small-text-regular-en-line-height: 30px;
  --web-en-small-text-regular-en-font-style: normal;
  --mb-cn-mb-heading-cn-font-family: "NotoSans-ExtraBold", Helvetica;
  --mb-cn-mb-heading-cn-font-weight: 800;
  --mb-cn-mb-heading-cn-font-size: 40px;
  --mb-cn-mb-heading-cn-letter-spacing: 12px;
  --mb-cn-mb-heading-cn-line-height: 60px;
  --mb-cn-mb-heading-cn-font-style: normal;
  --mb-cn-mb-heading2-cn-font-family: "NotoSans-ExtraBold", Helvetica;
  --mb-cn-mb-heading2-cn-font-weight: 800;
  --mb-cn-mb-heading2-cn-font-size: 30px;
  --mb-cn-mb-heading2-cn-letter-spacing: 8.4px;
  --mb-cn-mb-heading2-cn-line-height: 35px;
  --mb-cn-mb-heading2-cn-font-style: normal;
  --mb-cn-mb-heading3-cn-font-family: "NotoSans-ExtraBold", Helvetica;
  --mb-cn-mb-heading3-cn-font-weight: 800;
  --mb-cn-mb-heading3-cn-font-size: 28px;
  --mb-cn-mb-heading3-cn-letter-spacing: 7.28px;
  --mb-cn-mb-heading3-cn-line-height: 35px;
  --mb-cn-mb-heading3-cn-font-style: normal;
  --mb-cn-mb-heading4-bold-cn-font-family: "NotoSans-Bold", Helvetica;
  --mb-cn-mb-heading4-bold-cn-font-weight: 700;
  --mb-cn-mb-heading4-bold-cn-font-size: 24px;
  --mb-cn-mb-heading4-bold-cn-letter-spacing: 5.76px;
  --mb-cn-mb-heading4-bold-cn-line-height: 35px;
  --mb-cn-mb-heading4-bold-cn-font-style: normal;
  --mb-cn-mb-heading4-regular-font-family: "NotoSans-Regular", Helvetica;
  --mb-cn-mb-heading4-regular-font-weight: 400;
  --mb-cn-mb-heading4-regular-font-size: 24px;
  --mb-cn-mb-heading4-regular-letter-spacing: 5.76px;
  --mb-cn-mb-heading4-regular-line-height: 35px;
  --mb-cn-mb-heading4-regular-font-style: normal;
  --mb-cn-mb-body-bold-cn-font-family: "NotoSans-Bold", Helvetica;
  --mb-cn-mb-body-bold-cn-font-weight: 700;
  --mb-cn-mb-body-bold-cn-font-size: 16px;
  --mb-cn-mb-body-bold-cn-letter-spacing: 3.84px;
  --mb-cn-mb-body-bold-cn-line-height: 30px;
  --mb-cn-mb-body-bold-cn-font-style: normal;
  --mb-cn-mb-body-regular-cn-font-family: "NotoSans-Regular", Helvetica;
  --mb-cn-mb-body-regular-cn-font-weight: 400;
  --mb-cn-mb-body-regular-cn-font-size: 16px;
  --mb-cn-mb-body-regular-cn-letter-spacing: 3.84px;
  --mb-cn-mb-body-regular-cn-line-height: 30px;
  --mb-cn-mb-body-regular-cn-font-style: normal;
  --mb-cn-mb-text-bold-cn-font-family: "NotoSans-Bold", Helvetica;
  --mb-cn-mb-text-bold-cn-font-weight: 700;
  --mb-cn-mb-text-bold-cn-font-size: 14px;
  --mb-cn-mb-text-bold-cn-letter-spacing: 2.52px;
  --mb-cn-mb-text-bold-cn-line-height: 30px;
  --mb-cn-mb-text-bold-cn-font-style: normal;
  --mb-cn-mb-text-regular-cn-font-family: "NotoSans-Regular", Helvetica;
  --mb-cn-mb-text-regular-cn-font-weight: 400;
  --mb-cn-mb-text-regular-cn-font-size: 14px;
  --mb-cn-mb-text-regular-cn-letter-spacing: 2.52px;
  --mb-cn-mb-text-regular-cn-line-height: 30px;
  --mb-cn-mb-text-regular-cn-font-style: normal;
  --mb-cn-mb-text2-bold-cn-font-family: "NotoSans-Bold", Helvetica;
  --mb-cn-mb-text2-bold-cn-font-weight: 700;
  --mb-cn-mb-text2-bold-cn-font-size: 12px;
  --mb-cn-mb-text2-bold-cn-letter-spacing: 2.16px;
  --mb-cn-mb-text2-bold-cn-line-height: 30px;
  --mb-cn-mb-text2-bold-cn-font-style: normal;
  --mb-cn-mb-text2-regular-cn-font-family: "NotoSans-Regular", Helvetica;
  --mb-cn-mb-text2-regular-cn-font-weight: 400;
  --mb-cn-mb-text2-regular-cn-font-size: 12px;
  --mb-cn-mb-text2-regular-cn-letter-spacing: 2.16px;
  --mb-cn-mb-text2-regular-cn-line-height: 30px;
  --mb-cn-mb-text2-regular-cn-font-style: normal;
  --mb-cn-mb-small-text-bold-cn-font-family: "NotoSans-Bold", Helvetica;
  --mb-cn-mb-small-text-bold-cn-font-weight: 700;
  --mb-cn-mb-small-text-bold-cn-font-size: 12px;
  --mb-cn-mb-small-text-bold-cn-letter-spacing: 2.88px;
  --mb-cn-mb-small-text-bold-cn-line-height: 30px;
  --mb-cn-mb-small-text-bold-cn-font-style: normal;
  --mb-cn-mb-small-text-regular-cn-font-family: "NotoSans-Regular", Helvetica;
  --mb-cn-mb-small-text-regular-cn-font-weight: 400;
  --mb-cn-mb-small-text-regular-cn-font-size: 12px;
  --mb-cn-mb-small-text-regular-cn-letter-spacing: 2.88px;
  --mb-cn-mb-small-text-regular-cn-line-height: 30px;
  --mb-cn-mb-small-text-regular-cn-font-style: normal;
  --mb-en-mb-heading-en-font-family: "Jost-ExtraBold", Helvetica;
  --mb-en-mb-heading-en-font-weight: 800;
  --mb-en-mb-heading-en-font-size: 40px;
  --mb-en-mb-heading-en-letter-spacing: 4px;
  --mb-en-mb-heading-en-line-height: 60px;
  --mb-en-mb-heading-en-font-style: normal;
  --mb-en-mb-heading2-en-font-family: "Jost-ExtraBold", Helvetica;
  --mb-en-mb-heading2-en-font-weight: 800;
  --mb-en-mb-heading2-en-font-size: 30px;
  --mb-en-mb-heading2-en-letter-spacing: 2.4px;
  --mb-en-mb-heading2-en-line-height: 35px;
  --mb-en-mb-heading2-en-font-style: normal;
  --mb-en-mb-heading3-en-font-family: "Jost-ExtraBold", Helvetica;
  --mb-en-mb-heading3-en-font-weight: 800;
  --mb-en-mb-heading3-en-font-size: 28px;
  --mb-en-mb-heading3-en-letter-spacing: 2.24px;
  --mb-en-mb-heading3-en-line-height: 35px;
  --mb-en-mb-heading3-en-font-style: normal;
  --mb-en-mb-heading4-bold-en-font-family: "Jost-Bold", Helvetica;
  --mb-en-mb-heading4-bold-en-font-weight: 700;
  --mb-en-mb-heading4-bold-en-font-size: 24px;
  --mb-en-mb-heading4-bold-en-letter-spacing: 1.44px;
  --mb-en-mb-heading4-bold-en-line-height: 35px;
  --mb-en-mb-heading4-bold-en-font-style: normal;
  --mb-en-mb-heading4-regular-en-font-family: "Jost-Regular", Helvetica;
  --mb-en-mb-heading4-regular-en-font-weight: 400;
  --mb-en-mb-heading4-regular-en-font-size: 24px;
  --mb-en-mb-heading4-regular-en-letter-spacing: 1.44px;
  --mb-en-mb-heading4-regular-en-line-height: 35px;
  --mb-en-mb-heading4-regular-en-font-style: normal;
  --mb-en-mb-body-bold-en-font-family: "Jost-Bold", Helvetica;
  --mb-en-mb-body-bold-en-font-weight: 700;
  --mb-en-mb-body-bold-en-font-size: 16px;
  --mb-en-mb-body-bold-en-letter-spacing: 0.96px;
  --mb-en-mb-body-bold-en-line-height: 30px;
  --mb-en-mb-body-bold-en-font-style: normal;
  --mb-en-mb-body-regular-en-font-family: "Jost-Regular", Helvetica;
  --mb-en-mb-body-regular-en-font-weight: 400;
  --mb-en-mb-body-regular-en-font-size: 16px;
  --mb-en-mb-body-regular-en-letter-spacing: 0.96px;
  --mb-en-mb-body-regular-en-line-height: 30px;
  --mb-en-mb-body-regular-en-font-style: normal;
  --mb-en-mb-text-bold-en-font-family: "Jost-Bold", Helvetica;
  --mb-en-mb-text-bold-en-font-weight: 700;
  --mb-en-mb-text-bold-en-font-size: 14px;
  --mb-en-mb-text-bold-en-letter-spacing: 0.84px;
  --mb-en-mb-text-bold-en-line-height: 30px;
  --mb-en-mb-text-bold-en-font-style: normal;
  --mb-en-mb-text-regular-en-font-family: "Jost-Regular", Helvetica;
  --mb-en-mb-text-regular-en-font-weight: 400;
  --mb-en-mb-text-regular-en-font-size: 14px;
  --mb-en-mb-text-regular-en-letter-spacing: 0.84px;
  --mb-en-mb-text-regular-en-line-height: 30px;
  --mb-en-mb-text-regular-en-font-style: normal;
  --mb-en-mb-text2-bold-en-font-family: "Jost-Bold", Helvetica;
  --mb-en-mb-text2-bold-en-font-weight: 700;
  --mb-en-mb-text2-bold-en-font-size: 12px;
  --mb-en-mb-text2-bold-en-letter-spacing: 0.72px;
  --mb-en-mb-text2-bold-en-line-height: 30px;
  --mb-en-mb-text2-bold-en-font-style: normal;
  --mb-en-mb-text2-regular-en-font-family: "Jost-Regular", Helvetica;
  --mb-en-mb-text2-regular-en-font-weight: 400;
  --mb-en-mb-text2-regular-en-font-size: 12px;
  --mb-en-mb-text2-regular-en-letter-spacing: 0.72px;
  --mb-en-mb-text2-regular-en-line-height: 30px;
  --mb-en-mb-text2-regular-en-font-style: normal;
  --mb-en-mb-small-text-bold-en-font-family: "Jost-Bold", Helvetica;
  --mb-en-mb-small-text-bold-en-font-weight: 700;
  --mb-en-mb-small-text-bold-en-font-size: 12px;
  --mb-en-mb-small-text-bold-en-letter-spacing: 0.72px;
  --mb-en-mb-small-text-bold-en-line-height: 30px;
  --mb-en-mb-small-text-bold-en-font-style: normal;
  --mb-en-mb-small-text-regular-en-font-family: "Jost-Regular", Helvetica;
  --mb-en-mb-small-text-regular-en-font-weight: 400;
  --mb-en-mb-small-text-regular-en-font-size: 12px;
  --mb-en-mb-small-text-regular-en-letter-spacing: 0.72px;
  --mb-en-mb-small-text-regular-en-line-height: 30px;
  --mb-en-mb-small-text-regular-en-font-style: normal;
}
